@font-face {
    font-family: 'code';
    src: url('./fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title {
    text-align: center;
    margin-bottom: 12px;
}

.title p, .title h1, .title h2, .title h3 {
    font-size: 38px !important;
    font-weight: bold !important;
    font-family: 'code', monospace;
}